*
    margin 0
    padding 0
    box-sizing: border-box
    font-family var(--font_roboto)

body
    display: flex
    justify-content: center
    background: #eeeeee;

a
    text-decoration: none
    
.container
    max-width: 1314px
    width 100%
    // margin 70px auto 110px

.cabinet-info .menu
    display: flex;
    flex-direction: row;
    justify-content: space-between
    gap: 33px;
    width: 100%;
    margin-top: 50px; 
    list-style: none

.cabinet-info .menu .item
    width auto
    height: 57px;
    background: var(--color-blue_disable);
    border-radius: 2px;
    padding: 16px 28px
    border: 1px solid white
    border-radius: 2px 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    a span
        color: white
        font-weight: : 500px
    &.active
        background-color var(--color-blue_active)

.main
    width: 100%
    height: 710px
    background var(--coloe-white_main)
    box-shadow: 0px 2px 25px rgba(0, 33, 91, 0.11)
    border-top: 4px solid var(--color-blue_border)
    margin-top: 75px

.main .title
    color: var(--color-blue_title);
    font-family: var(--font_inter);
    margin: 35px 65px

.content
    display: flex
    justify-content: space-between
    height: 450px

.content .content-item
    font-family: 'Lato';

.content .content-item.left
    width 50%
    h3
        margin: 34px 65px
        font-family: var(--font_lato)

.content .content-item .content-item-list
    list-style: none
    display: flex;
    flex-direction: column;
    justify-content space-between
    height: 100%
    font-family: var(--font_raleway)
    margin-left: 65px
    margin-top: 30px

    .content-item-list__item
        display: flex
        background: rgba(0, 89, 200, 0.1);
        justify-content: space-between
        color: #3A3A3A
        border-radius: 2px;
        height 45px
        align-items: center
        padding: 0 25px
        border-radius: 2px

.content .content-item.right
    width 40%
    h3
        margin: 34px 0
    .manager-content
        display: flex
        justify-content: space-between
    .manager_info
        display: flex
        justify-content space-between
    .content-item-list__manager
        display: flex
        flex-direction: column
        justify-content: space-between
        width 50%
        padding-top 20px
        margin: 0 58px
    .manager-name
        font-family: var(--font_raleway)
    button
        width: 100%
        height: 40px
        background-color var(--color-blue_button)
        border-radius: 6px
        border none
        color: white
        cursor pointer

.content .content-item.right .manager-photo
    height: 230px
    img
        height 100%